/*===============================================*/
/*===========стили для main-navigation===========*/
.main-navigation {

  width: 960px;
  float: left;
}

/*для ссылок надо особое приглашение*/
.main-navigation .logo-inner {
  display: block;
  float: left;
  /*padding-top: -50px;*/
  /*padding-left: 70px;*/
  margin-right: 201px;
  color: #000;
  text-decoration: none;
}

.main-navigation .logo-inner {
  float: left;
  width: 160px;
  height: 65px;
  /*padding-top: 22px;*/
}

.main-navigation ul {
  margin:0;
  padding: 0;
  list-style: none;
  /*обнуление отсупов между inline-block (для родительского блока)*/
  font-size: 0;
}
.main-navigation li {
  display: inline-block;
  position: relative;
  vertical-align: bottom;
  /*text-transform: none;*/
  height: 65px;
  text-transform: uppercase;
  /*...и восстагавливаем размер шрифта здесь*/
  font-size: $baseFontSize;
  line-height: 20px;
}

.main-navigation li a {
  display: block;
  font-size: $baseFontSize;
  font-weight: $fontWeightMedium;
  font-family: $fontFamily;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  margin-top: 32px - 7px;
  margin-right: 47px;
}

.basket-block {
  float: right;
  display: inline-block;
  max-width: 115px;
}

.basket {
  display: block;
  position: relative;
  font-size: $baseFontSize;
  font-weight: $fontWeightMedium;
  font-family: $fontFamily;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 74px;
  height: 55px;
  margin-top: 32px - 7px;
  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: -40px;
    width: 15px;
    height: 15px;
    background: transparent url("../img/basket.png") no-repeat;
    /*opacity: 0.3;*/
  }
}

/*===========стили для main-navigation===========*/
/*===============================================*/