/*переменные*/
$fontFamily: 'Roboto', 'Arial', sans-serif;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$baseFontSize: 16px;

@import "btn";
@import "style-main-navigation";
@import "style-catalog";
@import "main";
@import "style-footer";

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: $fontFamily;
	font-weight: $fontWeightNormal;
	font-size: $baseFontSize;
    background-color: #ffffff;
}

.header {
	margin-bottom: 50px;
	background-color: #eeeeee;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container{
	margin: 0 auto;
	width: 1160px;
}

.main-navigation .logo-inner {

}

.top-bar {
    width: 100%;
}

.slider {
	position: relative;
	width: 1160px;
	height: 430px;/*в оригинале 310*/
	margin: 0 auto;
}

.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	height: 16px;/*в оригинале 10*/
	margin-left: -100px;
	text-align: center;
	z-index: 1000;

	i {
		display: inline-block;
		vertical-align: top;
		width: 6px;
		height: 6px;
		margin: 0 3px;
		background-color: #ffffff;
		border: 5px solid white;
		border-radius: 50%;
		cursor: pointer;
	}

	.active {
		background-color: #c1c1c1;
	}
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	/*background-color: rgba(255,255,0,0.1);*/
}

.slide-text {
	width: 430px;
	padding: 30px 0;
	font-size: $baseFontSize;
	line-height: 24px;
	color: #eeeeee;
}

.slide-title {
	width: 430px;
    color: #000000;
	font-size: 55px;
    font-weight: $fontWeightMedium;
    font-family: $fontFamily;
	line-height: 55px;
	margin-top: 63px;
    margin-bottom: 25px;
}

.slader-text p {
    color: #000000;
    /*letter-spacing: 0;*/
    font-family: $fontFamily;
    font-size: $baseFontSize;
    font-weight: $fontWeightNormal;
    line-height: 24px;
    margin-bottom: 40px;
}

/*кнопка слайдера*/
.slide .btn {
	display: block;
	width: 240px;
    margin-top: 25px;

}

.slide:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-position: 100% 10px;
	background-repeat: no-repeat;
	border: rgb(0,255,0);
}



.map {
	background-image: url("../img/nerds-map.png");
}

.contacts {
    background-color: #ffffff;
	width: 220px;
	padding: 50px;
    margin: 50px 0;
}

.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-family: $fontFamily;
    font-weight: $fontWeightBold;
}

.contacts p {
    font-size: $baseFontSize;
    line-height: 18px;
    font-family: $fontFamily;
}

.partners {
	display: block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: 1160px;
	border-top: #eeeeee solid 2px;
	border-bottom: #eeeeee solid 2px;
}

.partners img {
	display: inline-block;
	vertical-align: middle;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 20px;
    padding: 30px;
	border: red dotted 1px;
}

.partners img:first-child {
    margin-left: 0;
}

.partners img:last-child {
    margin-right: 0;
}