/*===========================================*/
/*=========== стили магазин ================*/
.filter-left {
  border: #fb565a 1px dotted;
  float: left;
  width: 260px;
}

.filter-left p {
  text-transform: uppercase;
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  font-size: 18px;
  line-height: 30px;
}

.templates-right {
  border: #fb565a 1px dotted;
  float: right;
  width: 760px;
}

.templates-right p {
  text-transform: uppercase;
  font-family: $fontFamily;
  font-weight: $fontWeightBold;
  font-size: 18px;
  line-height: 30px;
}
/*===========================================*/