/*============================================*/
/*=========== стили footer ================*/

.footer-social {
  float: left;
  margin-right: 140px;
}

.footer-promo {
  float: left;
  /*border: #fb565a 1px dotted;*/
}


.social-btn {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  background-position: center;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.social-btn-vk {
  background-image: url("../img/vk.png");
}

.social-btn-fb {
  background-image: url("../img/fc.png");
}

.social-btn-inst {
  background-image: url("../img/inst.png");
}

.footer-promo-title {
  font-size: 36px;
  line-height: 36px;
  font-family: $fontFamily;
  font-weight: bold;
}

.footer-promo p {
  font-size: 16px;
  line-height: 22px;
  font-family: $fontFamily;
  font-weight: $fontWeightNormal;
}
/*===========END стили footer END================*/
/*============================================*/